body {
  background-color: pink;
  font-family: cursive;
}
ul {
  list-style: none;
  margin: auto;
}
a {
  text-decoration: none;
  color: red;
}
a:hover {
  font-size: 1.2em;
  color: green
}
li {
  display: inline;
  margin-left: 40px;
}

h1 {
  text-align: center;
}

.container{
  width: 900px;
  padding: 10px;
  margin: auto;
}
.content {
  float: left;
  width:440px;
}
.content2 {
  float: right;
  width: 440px;
}
.footer {
  clear: both;
  text-align: right;
}
