body{
  background: linear-gradient(blue, white);
}
h1 {
  text-align: center;
}
#hotel1 ,#hotel2 ,#hotel3, #hotel4{
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: 15%;
  padding: 2em;
  float: left;
  width: 30em;
  height: 20em;
  border: .2em solid black;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}
#close{
  text-decoration: none;
  float: right;
  margin: 2em;
  color: lightgreen;
  font-size: 1.5em;
}
#msgNote{
  text-align: center;
  color: red;
  background: white;
  width: 50%;
  padding: 1em;
  margin: auto;
  margin-top: 5em;
}
#note{
  background-color: rgba(0,0,0,0.6 );
  width: 100%;
  height: 50em;
  position: absolute;
  top: 0;
}
