

h1{
  text-align: center;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    left: 5px;
    z-index: 99;


    color: white;
    cursor: pointer;


}

#myBtn:hover {
    background-color: #555;
}

#back2Top {
width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}
