.text{
  padding-top: 2em;
}
.navbar{
  padding-top: 29em;
}

.display{
  perspective: 10em;
    height: 10em;
    text-align: center;
}
span{
  display: inline-block;
color: blue;
font-size: 30px;
font-family: Verdana;
font-weight: bold;
}
span:nth-child(1)
{
  animation: flipUp 2s
}
span:nth-child(2)
{
  animation: flipUp 1s
}
span:nth-child(3)
{
  animation: flipUp 2s
}
span:nth-child(4)
{
  animation: flipUp 1s
}
span:nth-child(5)
{
  animation: flipUp 2s
}
span:nth-child(6)
{
  animation: flipUp 1s
}
span:nth-child(7)
{
  animation: flipUp 2s
}
span:nth-child(8)
{
  animation: flipUp 1s
}
span:nth-child(9)
{
  animation: flipUp 2s
}
span:nth-child(10)
{
  animation: flipUp 1s
}
span:nth-child(11)
{
  animation: flipUp 2s
}
span:nth-child(12)
{
  animation: flipUp 1s
}
span:nth-child(13)
{
  animation: flipUp 2s
}
span:nth-child(14)
{
  animation: flipUp 1s
}
span:nth-child(15)
{
  animation: flipUp 2s
}
span:nth-child(16)
{
  animation: flipUp 1s
}
span:nth-child(17)
{
  animation: flipUp 2s
}
span:nth-child(18)
{
  animation: flipUp 1s
}
span:nth-child(19)
{
  animation: flipUp 2s
}
span:nth-child(20)
{
  animation: flipUp 1s
}
span:nth-child(21)
{
  animation: flipUp 2s
}
span:nth-child(22)
{
  animation: flipUp 1s
}
span:nth-child(23)
{
  animation: flipUp 2s
}
span:nth-child(24)
{
  animation: flipUp 1s
}
span:nth-child(2n){
  color: lightblue;
    animation: flipUp 0.5s alternate
}
@keyframes flipUp {
  from{transform: rotateX(100deg);}
  to{transform: rotateX(0deg);}
}
p{
  margin-top: 3em;
}

.cherry {
  position: absolute;
  background: url(../images/cherry.png);
  background-size: 100% 100%;
  width: 20%;
  height: 20%;
}
.orange {
  position: absolute;
  background: url(../images/orangeindex.jpeg);
  background-size: 100% 100%;
  width: 20%;
  height: 20%;
}
img{
  width: 100%;
  height: 100%;
}
.cherry{
  top: 10em;
  animation: cloud 5s linear infinite;
}
.orange{
  top:20em;
  animation: cloud 8s linear infinite;
}
@keyframes cloud {
  from{transform: translateX(0em);}
  to{transform: translateX(20em);}


@keyframes slide {
  from{transform: translateX(0);}
  to{transform: translateX(20em);}
}
  }
  #wolf{
    width: 30%;
    height:30%;
    animation-name: slide;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    top: 30em;
    position: absolute;
  }
  img{
    width: 100%;
    height: 100%;
  }
  @keyframes slide {
    from{transform: translateX(0em);}
    to{transform: translateX(15em);}
  }
